<!-- <div class="nav navbar-nav navbar-right">
  <%= form_tag search_jobs_path , :method => :get do %>
  <div class="input-group" id="search-id" >
    <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="搜索工作">
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
  <% end %>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="dropdown clearfix pull-left btn-job">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            排序
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
              <li>
                <%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %>
              </li>
              <li>
                  <%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %>
              </li>
              <li>
                <%= link_to("按照发表时间排序", jobs_path ) %>
              </li>
          </ul>
      </div>
    </div>
  </div>
</div>

<!-- job blocks section -->
<div class="col-md-9">
	<div class="row">
	<div class="col-md-12">
	  <% @jobs.each do |job| %>
	    <section id="job-section">
	        <div class="job-section">
	          <div class="col-sm-2">
							<!-- job logo -->
							<% if job.company == 'Facebook' %>
								<img class="job-logo" src='http://i.imgur.com/zVU8xTV.jpg'>
							<% elsif job.company == 'Google'%>
								<img class="job-logo" src='http://i.imgur.com/afZPGbL.png'>
							<% elsif job.company == 'Amazon'%>
								<img class="job-logo" src='http://i.imgur.com/eJwYa9C.gif'>
							<% elsif job.company == 'Uber'%>
								<img class="job-logo" src='http://i.imgur.com/SOnKxie.jpg'>
							<% elsif job.company == 'Twitter'%>
								<img class="job-logo" src='http://i.imgur.com/9qGrqGG.png'>
							<% else %>
								<i class="logo-mini fa fa-file-text fa-fw fa-5x"  aria-hidden="true"></i>
							<% end %>
							<!-- job logo end -->
	          </div>
	          <div class="col-sm-8">
							<div class="title">
								<!-- title -->
								<span><%= link_to(job.title, job_path(job)) %></span>
								<!-- starred / star -->

	            </div>
							<p>
								<%= job.category %>
							</p>
							<p>
	              <i class="fa fa-location-arrow fa-fx" aria-hidden="true"></i>
	              <%= job.location %>

	              <i class="icon fa fa-usd fa-fx" aria-hidden="true"></i>
	              <%= job.wage_lower_bound / 1000 %> K -
	              <%= job.wage_upper_bound / 1000 %> K
	            </p>
	            <p>
	              <%=  job.description %>
	            </p>
              <p style="font-size:1em;color:#555555"> <%= job.created_at %></p>
	          </div>
						<!-- button -->
	          <div class="col-sm-2 pull-right">
							<div class="button">
								<%= link_to(t('投递简历'), new_job_resume_path(job), class: "btn btn-info btn-middle ", method: :get) %>
	            <div>
	          </div>
	        </div>
	      </div>
	    </section>
	  <% end %>
	</div>
</div>
</div>

<!-- 职位推荐 -->
<div class="col-md-2 side-box">
  <div class="row">
      <div class="col-md-12 suggest-title">
        <h3><sapn class="fa fa-tags"></sapn> <strong>职位推荐</strong></h3>
      </div>
      <div>
          <% @suggests.each do |job| %>
              <div class="col-xs-10 col-xs-offset-1 suggest-content">
                  <div>
                    <h4>
                      <%= link_to job_path(job), target: "_blank" do %>
                          <%= job.title %> [<%= job.location %>]
                      <% end %>
                    </h4>
                  </div>
                  <div>
                    <p>招募职位：<%= job.category %></p>
                  </div>
                  <div>
                    <p>团队名称：<%= job.company %></p>
                  </div>
              </div>
          <% end %> <!-- 结束@suggests循环 -->
      </div>
  </div>
</div>
</div>

<!-- pagination -->
<div class="col-md-10 col-md-offset-1 paginate-job">
	<div class="text-center">
		<%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
	</div>
</div>
