<div class="row-2">
  <div class="col-md-9 col-centered">
    <div class="panel panel-default panel-1">
      <div class="panel-body">

        <div class="col-md-12">
          <h2 class="job-title-0">浏览职位</h2>
        </div>
<!-- 排序 -->
        <div class="col-md-8">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              职位排序
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %></li>
              <li><%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %></li>
              <li><%= link_to("按照发表时间排序", jobs_path ) %></li>
            </ul>
          </div>
        </div>
<!-- 工作 描述 -->
        <div class="col-md-8">
        <% @jobs.each do |job| %>
          <div class="job-list">
            <ul>
              <li>
                <!-- <a href="/job_detail/1411172989.html?ka=job_list_1" ka="job_list_1" data-itemid="1" data-lid="4-5yaLmZh" data-index="1" target="_blank"> -->
                  <div class="job-primary">
<!-- ①工作区 -->
                    <div class="col-md-2">
                      <img class="job-logo" src='http://i.imgur.com/LNZE1s0.png'>
                    </div>
<!-- ②工作区 -->
                    <div class="col-md-7 info-primary">
                      <p class="name">
                        <%= link_to(job.title, job_path(job)) %>
                      </p>
                      <p>公司：<%= job.company_name %></p>
                      <p>领域：<%= job.category %></p>
                      <p><%= job.company_wearfare %></p>

                    </div>
<!-- ③工作区 -->
                    <div class="col-md-3">
                          <div class="company-logo">
                            <%= job.wage_lower_bound*0.001 %>k - <%= job.wage_upper_bound*0.001 %>k
                          </div>
                          <p>地点：<%= job.city %></p>
                          <p> <%= job.created_at %></p>
                    </div>
                  </div>
                <!-- </a> -->
              </li>
            </div>
        <% end %>
        </div>
<!-- 推荐 职位col-xs-offset-1 -->
        <div class="col-md-4">
          <div>
              <div class="col-md-12 suggest-title">
                <h3>您可能会喜欢</h3>
              </div>
              <% @suggests.each do |job| %>
                  <div class="col-md-12  suggest-content">
                      <div>
                        <p>
                          <%= link_to job_path(job), target: "_blank" do %>
                              <%= job.title %>
                          <% end %>
                        </p4>
                      </div>
                      <div>
                        <p>公司：<%= job.company_name %></p>
                      </div>
                      <div>
                        <p>职位分类：<%= job.category %></p>
                      </div>
                  </div>
              <% end %> <!-- 结束@suggests循环 -->
          </div>
        </div>
<!-- 分页 pagination -->
        <div class="col-md-8 paginate-job">
          <div class="text-center">
            <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
// js无法直接通过class获取对象，必须自己写一个方法,这样效率会非常低，原生js里最好用id获取，
// 直接用id获取domo对象
var oBox=document.getElementById('demo');
// slice() 方法可从已有的数组中返回选定的元素。
// 您可使用负值从数组的尾部选取元素。
// 如果 end 未被规定，那么 slice() 方法会选取从 start 到数组结尾的所有元素。
// 此处需要根据需求自行修改slice()的值，以达到要显示的内容
var demoHtml = oBox.innerHTML.slice(0,100)+'...';
// 填充至指定位置
oBox.innerHTML = demoHtml;
</script>
