<div class="row-2">
<div class="col-md-10 col-centered">
  <div class="panel panel-default panel-2">
    <div class="panel-body">

      <div class="col-md-12">
        <h1 style="background-color:#ffffff;">发达森</h1>
      </div>

      <div class="col-md-8">
        <p style="background-color:#ffffff;">开机劳烦</p>
      </div>

      <div class="col-md-8">
      <% @jobs.each do |job| %>
        <div class="job-list">
          <ul>
            <li>
              <a href="/job_detail/1411172989.html?ka=job_list_1" ka="job_list_1" data-itemid="1" data-lid="4-5yaLmZh" data-index="1" target="_blank">
                <div class="job-primary">

                  <div class="col-md-2">
                    <img class="job-logo" src='http://i.imgur.com/afZPGbL.png'>
                  </div>

                  <div class="col-md-7 info-primary">
                    <h3 class="name">
                      <%= link_to(job.title,   new_job_resume_path(job)) %>
                    </h3>
                      <p class="saraly">
                        <span class="red">
                      <br>
                        </span>
                      </p>
                    <p style="font-size:25px"><%= job.description %></p>
                   <br>
                   <p style="font-size:1em;color:#555555"> <%= job.created_at %></p>
                  </div>

                  <div class="col-md-3 info-comapny">
                    <div class="company-text">
                        <div class="company-logo" style="font-size:20px;">
                          <%= job.wage_lower_bound %>$ - <%= job.wage_upper_bound %>$
                        </div>
                        <p style="margin-top: 110px; color:#555555 "><%= job.contact_email %></p>
                    </div>
                  </div>

                </div>
              </a>
            </li>
          </div>
      <% end %>
      </div>

      <div class="col-md-4">
        <div class="col-md-12 suggest-title">
          <h3><sapn class="fa fa-tags"></sapn> <strong>职位推荐</strong></h3>
        </div>
        <div>
            <% @suggests.each do |job| %>
                <div class="col-xs-10 col-xs-offset-1 suggest-content">
                    <div>
                      <h4>
                        <%= link_to job_path(job), target: "_blank" do %>
                            <%= job.title %> [<%= job.location %>]
                        <% end %>
                      </h4>
                    </div>
                    <div>
                      <p>招募职位：<%= job.category %></p>
                    </div>
                    <div>
                      <p>团队名称：<%= job.company %></p>
                    </div>
                </div>
            <% end %> <!-- 结束@suggests循环 -->
        </div>
      </div>


    </div>
  </div>
</div>
<!-- pagination -->
<div class="col-md-10 col-md-offset-1 paginate-job">
	<div class="text-center">
		<%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
	</div>
</div>
</div
