<div class="row-2">
  <div class="col-md-9 col-centered">
    <div class="panel panel-default panel-1">
      <div class="panel-body">

<!-- 职位 信息 -->
        <div class="col-md-8">
          <div class="col-md-12 row-3">
              <h2><%= @job.city %> > <%= @job.title %></h2>
              薪资：<%= @job.wage_lower_bound*0.001 %>k - <%= @job.wage_upper_bound*0.001 %>k &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              公司：<%= @job.company_name %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              发布：<%= @job.created_at %><br/>
              <%= @job.company_wearfare %>
              <hr/>
              <p>岗位职责：</p>
              <%= @job.description %>
              <hr/>
              <p>任职要求：</p>
              <%= @job.title_request %>
              <hr/>
              <p>公司介绍：</p>
              <%= @job.company_info %>
              <hr style="width:0px;"/>
              <%= link_to ('投递简历'), new_job_resume_path(@job), class: 'btn btn-lg btn-success' %>
              <div class="text-left">
              </div>
            </div>
        </div>

<!-- 公司 信息 -->
        <div class="col-md-4">
          <div class="col-md-12 logo-1 text-center row-3">
            <img src='<%= image_url 'tengxun.png' %>' >
            <h4>腾讯</h4>
            <hr/>
            <p><%= @job.company_year %></p>
            <p><%= @job.company_people %></p>
            <p><%= @job.category %></p>
            <p><%= @job.company_url %></p>
            <p><%= @job.location %></p>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
