<div class="row-2">
  <div class="col-md-9 col-centered">
    <div class="panel panel-default panel-1">
      <div class="panel-body"  style="padding-top:30px; padding-bottom:30px;">

        <div class="col-md-2">
          <%= link_to ('职位管理'), admin_jobs_path, class: 'btn btn-lg btn-admin-job-1', style: 'margin-top:10px;' %>
          <%= link_to ('添加职位'), new_admin_job_path, class: 'btn btn-lg btn-admin-job-1', style: 'margin-top:-20px;' %>
        </div>

<!-- 职位 信息 -->
        <div class="col-md-8">
          <div class="col-md-12 row-3">
              <h2 style="color:#5bc0de; float:left;"><%= @job.city %> >&nbsp;</h2>
              <h2 style="color:#3a3a3a;"><%= @job.title %></h2>

              <p class="p-show-1">
                薪资：<%= @job.wage_lower_bound*0.001 %>k - <%= @job.wage_upper_bound*0.001 %>k &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                公司：<%= @job.company_name %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                发布：<%= @job.created_at %><br/>
              </p>
              <span class="label label-success label-show-1">
                <%= @job.company_wearfare %>
              </span>

              <h4 class="h-show-1">岗位职责：</h4>
              <hr/>
              <p class="p-show-2"><%= @job.description %></p>
              <h4 class="h-show-1">任职要求：</h4>
              <hr/>
              <p class="p-show-2"><%= @job.title_request %></p>
              <h4 class="h-show-1">公司介绍：</h4>
              <hr/>
              <p class="p-show-2"><%= @job.company_info %></p>
              <hr style="width:0px;"/>
              <%= link_to ('投递简历'), new_job_resume_path(@job), class: 'btn btn-lg btn-success' %>
              <div class="text-left">
              </div>
            </div>
        </div>

<!-- 公司 信息 -->
        <div class="col-md-2">
          <div class="col-md-12 logo-1 text-center row-3">
            <img src='<%= image_url 'tengxun.png' %>' >
            <h4>腾讯</h4>
            <hr/>
            <p><%= @job.company_year %></p>
            <p><%= @job.company_people %></p>
            <p><%= @job.category %></p>
            <!-- <p><%= @job.company_url %></p> -->
            <p><%= @job.location %></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
